---
title: Home
description: COnTaMiNeuro
image: /images/san_marco_night.jpg
bottom_image: http://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Summer School in Computational and Theoretical Models in Neuroscience </h1>
			<p class="subtext editable">9-14 September 2019</p>
			<div class="cta button alt"><a href="https://docs.google.com/forms/d/1U5IpLBA5Kt1XAWciG4yGmzxQG8XskHbZygfGv7TgwaI/edit?usp=sharing">Register</a></div>
			<div class="cta button alt"><a href="http://pnc.unipd.it/">Fee payment</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Topics</h2>
				<ul>
  				<li>Neural dyanamics</li>
  				<li>Whole brain modelling</li>
  				<li>Statistical physics approach to neuroscience</li>
					<li>Information processing</li>
					<li>Coding and perception in neural systems</li>
					<li>Machine Learning and Neural Networks</li>
					<li>Functional Connectivity</li>
					<li>Structural networks</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">School Goals</h2>
				<p class="editable">Approaches and techniques from Physics, Mathematics and Computational Science are increasingly becoming critical for understanding and modelling the brain, and also for designing and interpreting experiments. Modeling is an essential tool to cut through the vast complexity of neurobiological systems and their many interacting elements.
The course teaches the central ideas, methods, and practices of modern computational neuroscience through a combination of lectures and Tutorials project work. During the course’s mornings, distinguished international faculty deliver lectures on selected topics in computational neuroscience (see below). For the remainder of the time, students work on research projects in teams of 3-4 people under close supervision of expert tutors and faculty. Research projects are proposed by faculty before the course, and include data analyses and the development of theories to explain experimental observations.
This school is designed for graduate students and postdoctoral fellows from a variety of disciplines, including neuroscience, physics, computer science, mathematics and psychology. Students are expected to have a keen interest and basic background in neurobiology, a solid foundation in mathematics and physics, as well as some computing experience. The School will be open for the Ph.D. students enrolled in the new Ph.D. in Neuroscience @PNC</div>
			<div class="image">
				<img class="editable" src="images/palazzo_franchetti.jpg" alt="Palazzo Franchetti" />
			</div>
		</div>
	</section>


	<!--<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Where</h2>
				<h3 class="editable">Venetian Institute of Sciences, Letters and Arts</h3>
				<p class="editable">In recent years, a fast development of different quantum hardware, theoretical models and numerical tools has been achieved, which pave the way to unprecedented investigations in quantum science, and in particular in the study of out of equilibrium many-body processes. However, the new challenges call for different expertise that has to be merged: from the theoretical and experimental or numerical knowledge to the theoretical understanding of the system to be simulated. It is then important that experts from different perspectives talk together, exchange ideas providing open problems to be attacked and new ideas for possible platforms where questions can be answered.  Following the success of the first three editions, the fourth edition of this workshop aims to consolidate a new community of actors working together in this exciting interdisciplinary field.</p>
			</div>
		</div>
	</section>-->
</div>
