---
title: Venue and logistics
description: How to get to the conference.
image: /images/canal_grande_franchetti.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Venue and logistics</h1>
			<p class="subtext editable">How to get to the conference</p>
		</div>
	</div>
</section>

<div class="content">
<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Venue</h2>
				<h3 class="editable">University of Venice</h3>
				<p class="editable">The conference will be held at the San Giobbe: Università Ca' Foscari Venezia. The address of the venue is:</p>
				<p align="center">
					Cannaregio 873, <br>
					30121, Venice<br>
					<b>Telephone:</b> 
				</p>
			</div>
			<div class="image">
				<iframe width="600" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=12.305266857147219%2C45.4355929412877%2C12.345027923583984%2C45.45198771470903&amp;layer=mapnik&amp;marker=45.44379092355934%2C12.3251473903656" style="border: 1px solid black"></iframe>
				<p></small><a href="https://www.google.com/maps/place/Fondamenta+S.+Giobbe,+873,+30121+Venezia+VE/@45.443705,12.3150771,16z/data=!4m22!1m16!4m15!1m6!1m2!1s0x477eb1c7511cd1f1:0xfc7c01f280ca9309!2sVenezia+Santa+Lucia,+Venice,+Metropolitan+City+of+Venice!2m2!1d12.3210436!2d45.4410697!1m6!1m2!1s0x477eb1be275c68b7:0x936bc42e736d4a9f!2sFondamenta+S.+Giobbe,+873,+30121+Venezia+VE!2m2!1d12.3184327!2d45.4463381!3e3!3m4!1s0x477eb1be275c68b7:0x936bc42e736d4a9f!8m2!3d45.4463381!4d12.3184327" target="_blank">Open in Google Maps</a></small></p>
			</div>
		</div>
</section>


<section class="info">
	<div class="container flex">
		<div class="text">
			<h2 class="editable">How to get to the conference</h2>
			<h3 class="editable">From the airport to the city</h3>
			<p class="editable">The "Marco Polo" Venice airport is on the mainland, around 5km north of Venice. The city can be easily reached by water bus, shuttle bus or taxi. More information available on the <a href="http://www.veniceairport.it/en/transport/venice.html" target="_blank">airport website</a>.</p>
			<p class="editable">Venice can also be reached easily from the "A. Canova" Treviso airport by bus. More information available on the <a href="http://www.trevisoairport.it/en/transport/venezia-santa-lucia-station.html" target="_blank">airport website</a>.</p>

		<h3 class="editable">From Piazzale Roma or Santa Lucia train station</h3>
		<p class="editable">University of Venice Ca Fascori is easily reachable from walk (15 minutes) or by boat (line 4.2 from piazzale Roma)</p>
	</div>
		<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Aerial_view_Venice_07_2017_4995.jpg/1920px-Aerial_view_Venice_07_2017_4995.jpg" alt="Aerial view of Venice" />
	 </div>
	</div>
</section>


	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Accomodation</h2>
				<p class="editable">We strongly suggest to reserve your accommodation in advance<br>
				<ul>
  				<li><a href="http://www.cafontanea.it/en/index.html" target="_blank">Ca Fontane Hotel</a></li>
					<li><a href="https://www.carnivalpalace.com/" target="_blank">Carnival Palace</a></li>
					<li><a href="http://www.cadueleoni.com/en" target="_blank">Ca due Leoni</a></li>
				</ul>
			</p>
			</div>
			<div class="text">
				<h2 class="editable">Nearby restaurants</h2>
				<h3 class="editable">(in random order)</h3>
				<ul>
  				<li><a href="http://www.tripadvisor.it/Restaurant_Review-g187870-d2446917-Reviews-Pizzeria_Sansovino-Venice_Veneto.html" target="_blank">Pizzeria Sansovino</a></li>
					<li><a href="https://www.aitrearchivenezia.it/" target="_blank">Ai tre archi pizzeria</a></li>
					<li><a href="ttps://www.tripadvisor.it/Restaurant_Review-g187870-d8360870-Reviews-Trattoria_Dalla_Marisa-Venice_Veneto.html" target="_blank">Trattoria da Marisa</a></li>
					<li><a href="http://www.tripadvisor.it/Restaurant_Review-g187870-d6786843-Reviews-Fuori_Menu_Rio_Santissimo-Venice_Veneto.html" target="_blank">Fuori Menu Rio Santissimo</a></li>
					<li><a href="http://www.tripadvisor.it/Restaurant_Review-g187870-d4874582-Reviews-Gelateria_Al_Teatro-Venice_Veneto.html" target="_blank">Gelateria Al Teatro</a> (ice cream)</li>
				</ul>
			</div>
			<div class="text">
				<h2 class="editable">Social activities</h2>
				<p class="editable"><ul>
					<li><b>Tuesday (September 10th) evening</b>: Social dinner 
					<li><b>Thursday (September 12th) evening</b>: Aperitif (spritz) and evening lecture @ECLT
					<li><b>Saturday afternoon (September 14th) afternoon</b>: Guided visit in Venice (to be booked)
				</ul></p>
			</div>
		</div>
	</section>




	<!--<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Where</h2>
				<h3 class="editable">Venetian Institute of Sciences, Letters and Arts</h3>
				<p class="editable">In recent years, a fast development of different quantum hardware, theoretical models and numerical tools has been achieved, which pave the way to unprecedented investigations in quantum science, and in particular in the study of out of equilibrium many-body processes. However, the new challenges call for different expertise that has to be merged: from the theoretical and experimental or numerical knowledge to the theoretical understanding of the system to be simulated. It is then important that experts from different perspectives talk together, exchange ideas providing open problems to be attacked and new ideas for possible platforms where questions can be answered.  Following the success of the first three editions, the fourth edition of this workshop aims to consolidate a new community of actors working together in this exciting interdisciplinary field.</p>
			</div>
		</div>
	</section>-->
</div>
