---
title: Venue and logistics
description: How to get to the conference.
image: /images/canal_grande_franchetti.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Venue and logistics</h1>
			<p class="subtext editable">How to get to the conference.</p>
		</div>
	</div>
</section>

<div class="content">
<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Venue</h2>
				<h3 class="editable">Palazzo Franchetti</h3>
				<p class="editable">The conference will be held at Palazzo Franchetti of the Venetian Institute of Science, Letters and Arts. The address of the venue is:</p>
				<p align="center">
					Campo S. Stefano, 2945<br>
					30124, San Marco, Venice<br>
					<b>Telephone:</b> +39 041 2407711
				</p>
				<p>The registration desk opens Tuesday 9th at 8:45 am; when you check in to the conference we will give you a badge and the workshop material.</p><br>
				<p>We will not print the program and other information, but they will be always available at the <a href="/program">conference website</a>.</p>
			</div>
			<div class="image">
				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=12.325335144996645%2C45.4302060152859%2C12.333945035934448%2C45.433703246621874&amp;layer=mapnik&amp;marker=45.43195465804238%2C12.329640090465546" style="border: 1px solid black"></iframe>
				<p></small><a href="https://www.google.com/maps/place/Palazzo+Cavalli-Franchetti/@45.4318537,12.3274471,17z/data=!3m2!4b1!5s0x477eb1d1e62375d1:0x244217780720e9fc!4m5!3m4!1s0x477eb1d1e5863567:0x837878ccb9392500!8m2!3d45.43185!4d12.329641?hl=it" target="_blank">Open in Google Maps</a></small></p>
			</div>
		</div>
</section>


<section class="info">
	<div class="container flex">
		<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Aerial_view_Venice_07_2017_4995.jpg/1920px-Aerial_view_Venice_07_2017_4995.jpg" alt="Aerial view of Venice" />
			</div>
		<div class="text">
			<h2 class="editable">How to get to Venice</h2>
			<h3 class="editable">From the airport</h3>
			<p class="editable">The "Marco Polo" Venice airport is on the mainland, around 5km north of Venice. The city can be easily reached by water bus, shuttle bus or taxi. More information available on the <a href="https://www.veniceairport.it/en/transport/venice.html">airport website</a>.</p>
			<p class="editable">The city can also be reached easily from the "A. Canova" Treviso airport by bus. More information available on the <a href="https://www.trevisoairport.it/en/transport/venezia-santa-lucia-station.html">airport website</a>.</p>
		</div>
	</div>
</section>


	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Accomodation</h2>
				<p class="editable">We strongly suggest to reserve your accommodation at Don Orione or to Domus Ciliota guest house, both very close to the conference site. To book a room write directly to <a href="mailto:info@donorione-venezia.it">info@donorione-venezia.it</a> or to <a href="mailto:info@ciliota.it">info@ciliota.it</a></p>
			</div>
			<div class="text">
				<h2 class="editable">Nearby restaurants</h2>
				<p class="editable">Here is a list of some suggested close to the Conference venue (in random order):</p>
				<ul>
  				<li><a href="https://www.tripadvisor.it/Restaurant_Review-g187870-d2446917-Reviews-Pizzeria_Sansovino-Venice_Veneto.html">Pizzeria Sansovino</a></li>
					<li><a href="https://www.tripadvisor.it/Restaurant_Review-g187870-d1385701-Reviews-A_Beccafico-Venice_Veneto.html">A beccafico</a></li>
					<li><a href="https://www.tripadvisor.it/Restaurant_Review-g187870-d6997990-Reviews-L_Opera-Venice_Veneto.html">L'Opera</a></li>
					<li><a href="https://www.tripadvisor.it/Restaurant_Review-g187870-d6786843-Reviews-Fuori_Menu_Rio_Santissimo-Venice_Veneto.html">Fuori Menu Rio Santissimo</a></li>
					<li><a href="https://www.tripadvisor.it/Restaurant_Review-g187870-d4874582-Reviews-Gelateria_Al_Teatro-Venice_Veneto.html">Gelateria Al Teatro</a> (ice cream)</li>
				</ul>
			</div>
		</div>
	</section>




	<!--<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Where</h2>
				<h3 class="editable">Venetian Institute of Sciences, Letters and Arts</h3>
				<p class="editable">In recent years, a fast development of different quantum hardware, theoretical models and numerical tools has been achieved, which pave the way to unprecedented investigations in quantum science, and in particular in the study of out of equilibrium many-body processes. However, the new challenges call for different expertise that has to be merged: from the theoretical and experimental or numerical knowledge to the theoretical understanding of the system to be simulated. It is then important that experts from different perspectives talk together, exchange ideas providing open problems to be attacked and new ideas for possible platforms where questions can be answered.  Following the success of the first three editions, the fourth edition of this workshop aims to consolidate a new community of actors working together in this exciting interdisciplinary field.</p>
			</div>
		</div>
	</section>-->
</div>
